name: test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    name: ${{ matrix.lisp }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        lisp:
        - abcl
        - ccl
        - clasp
        - cmucl
        - ecl
        - sbcl
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yitzchak/archlinux-cl:latest
      options: --security-opt seccomp:unconfined
    steps:
    - name: Checkout nontrivial-gray-streams
      uses: actions/checkout@v6
      with:
        repository: yitzchak/nontrivial-gray-streams
        path: nontrivial-gray-streams
    - name: Checkout Incless
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Incless
        path: incless
    - name: Checkout Inravina
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Inravina
        path: inravina
    - name: Checkout Invistra
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Invistra
        path: invistra
    - name: Checkout Repository
      uses: actions/checkout@v6
      with:
        path: quaviver
    - name: Setup Lisp Environment
      run: |
        make-rc
        asdf-add
    - name: Run Unit Tests
      run: |
        lisp -i ${{ matrix.lisp }} -e "(defparameter cl-user::*exit-on-test-failures* t)" -e "(asdf:load-system :quaviver/unit-test)" -e "(parachute:test :quaviver/unit-test)"
    - name: Run ANSI Tests
      run: |
        lisp -i ${{ matrix.lisp }} -e "(asdf:load-system :quaviver/ansi-test)" -e "(quaviver/ansi-test:test :exit t)"
    - name: float-triple/Burger-Dybvig vs Schubfach
      if: ${{ matrix.lisp != 'cmucl' }}    
      run: |
        lisp -i ${{ matrix.lisp }} -e "(asdf:load-system :quaviver/compare)" -e "(quaviver/compare:float-triple/bd.s/f :coverage 0.001 :exit t :output \"failures-float-triple-bd-s.sexp\")"
    - name: float-triple/Schubfach vs Dragonbox 
      if: ${{ matrix.lisp != 'cmucl' }}    
      run: |
        lisp -i ${{ matrix.lisp }} -e "(asdf:load-system :quaviver/compare)" -e "(quaviver/compare:float-triple/s.d/f :coverage 0.001 :exit t :output \"failures-float-triple-s-d.sexp\")"
    - name: triple-float/Jaffer vs Liebler
      if: ${{ matrix.lisp != 'cmucl' }}    
      run: |
        lisp -i ${{ matrix.lisp }} -e "(asdf:load-system :quaviver/compare)" -e "(quaviver/compare:triple-float/j.l/f :coverage 0.001 :exit t :output \"failures-triple-float-j-l.sexp\")"
    - name: Upload comparison results
      uses: actions/upload-artifact@v6
      if: failure()
      with:
        name: failures-${{ matrix.lisp }}
        path: failures-*.sexp
        if-no-files-found: ignore
